---
layout: layouts/default
title: Simplificator blog
language: en
permalink: '/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber}}/{% endif %}'
pagination:
  data: collections.posts
  reverse: true
  size: 10
  alias: posts
---

<section class="intro">
  <h1 class="intro__title">The Simplificator blog</h1>
  <p>You are reading articles by <a href="https://www.simplificator.com">Simplificator</a>, a Swiss-based custom software development agency. Here we write about the problems we solve and how we work together.</p>
</section>

{% for post in posts %}
<article class="post" lang="{{ post.data.language }}">
  <header>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <div class="meta">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%e %B %Y" }}</time>
      &middot;
      {{ post.data.author }}
    </div>
  </header>
  {{ post.templateContent }}
</article>
{% endfor %}


{% if pagination.pageLinks.length > 1 %}
<nav class="pagination">
  {% if pagination.previousPageHref %}
  <a href="{{ pagination.previousPageHref | url }}" class="pagination__previous">
    <svg width="32" height="32" fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    &nbsp;
    Newer posts
  </a>
  {% else %}
  <span><!-- for proper alignment of the next page link --></span>
  {% endif %}

  {% if pagination.nextPageHref %}
  <a href="{{ pagination.nextPageHref | url }}" class="pagination__next">
    Older posts
    &nbsp;
    <svg width="32" height="32" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
  </a>
  {% endif %}
</nav>
{% endif %}
