---
layout: layouts/default
---
<article>
  <header>
    <h1>{{ title }}</h1>
    <div class="meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%e %B %Y" }}</time>
      &middot;
      {{ author }}
    </div>
  </header>
  <div>
    {{ content }}
  </div>
</article>

<aside class="about">
  <h2 class="about__title">About Simplificator</h2>
  <p>
    Simplificator is a custom software development agency based in Zurich, Switzerland.<br>
    We collaborate closely to solve complex problems.
  </p>
  <p><a href="https://www.simplificator.com" class="about__call-to-action">Learn more about working with us</a></p>
</aside>
