:root {
  --simplificator-sky: #00adef;
  --simplificator-blueberry: #454c9b;
  --simplificator-cherry: #e8336e;
  --simplificator-honey: #f9b233;
  --simplificator-lawn: #63b450;
  --simplificator-smoke: #1d1d1d;
  --simplificator-chimney: #7a7a7a;
  --simplificator-black: #191919;
  --simplificator-white: #fff;
  --simplificator-gemstone: #103a4a;
  --simplificator-teal: #288db3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fff;
  color: var(--simplificator-black);
}

body {
  max-width: 42rem;
  padding: 2rem 1rem 3rem;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.25em;
  font-weight: 500;
  line-height: 1.2;
}

h2 a, h2 a:visited {
  color: var(--simplificator-blueberry);
  text-decoration: none;
}

a, a:visited {
  color: var(--simplificator-sky);
}

h2 a:active, h2 a:focus {
  color: var(--simplificator-sky);
}

svg {
  fill: currentColor;
}

pre {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--simplificator-chimney);
}


.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__item {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.navigation__item a,
.navigation__item a:visited {
  color: var(--simplificator-black);
  text-decoration: none;
  font-weight: normal;
}

.navigation__separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  color: var(--simplificator-cherry);
}

.intro {
  margin-top: 4rem;
  color: var(--simplificator-gemstone)
}

.intro p {
  margin: 0;
  margin-top: 8px;
}

.intro__title {
  margin: 0;
  font-size: 1rem;
}

.post {
  margin-top: 4rem;
  position: relative;
}

.post::before {
  content: '';
  width: 15%;
  border-top: 1px var(--simplificator-smoke) solid;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}

.post:nth-child(4n+0)::before { border-color: var(--simplificator-honey); }
.post:nth-child(4n+1)::before { border-color: var(--simplificator-cherry); }
.post:nth-child(4n+2)::before { border-color: var(--simplificator-sky); }
.post:nth-child(4n+3)::before { border-color: var(--simplificator-lawn); }

.pagination {
  display:flex;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.pagination__next,
.pagination__previous {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.about {
  margin-top: 4rem;
  padding: 1rem 2rem;
  color: var(--simplificator-white);
  background-color: var(--simplificator-blueberry);
}

.about__title {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.about__call-to-action, .about__call-to-action:visited {
  color: var(--simplificator-white);
}

/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code,
pre {
  color: #393A34;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: .9em;
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code {
  font-size: 1em;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
  background: #b3d4fc;
}

pre::selection, pre ::selection,
code::selection, code ::selection {
  background: #b3d4fc;
}

/* Code blocks */
pre {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border: 1px solid #dddddd;
  background-color: white;
}

/* Inline code */
:not(pre) > code {
  padding: .2em;
  padding-top: 1px; padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999988; font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string,
.token.attr-value {
  color: #e3116c;
}
.token.punctuation,
.token.operator {
  color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
